.coffee-stain {
    position: absolute;
    top: var(--top);
    left: var(--left);
    width: 10cm;
    height: 10cm;
    filter: blur(1px) contrast(110%);
    background: url('https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/user-data/production/6ea5d061-1dff-454e-83a7-7b83d4546ed4/uploads/images/f74119a30ba73c9c5b3a7cc1aa9d7d42.png') no-repeat center;
    background-size: contain;
    mix-blend-mode: multiply;
}