.paperclip {
    position: absolute;
    display-block;
    top: -10px;
    left: var(--left, 60);
    width: 50px;
    height: 150px;
    transform: rotate(-15deg); /* Slight tilt for realism */
    opacity: 0.8; /* Slight transparency */
    background: url('https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/user-data/production/6ea5d061-1dff-454e-83a7-7b83d4546ed4/uploads/images/421f492b3660fca7d119964aff1f24db.png') no-repeat center;
    background-size: contain;
}
