.smudge {
    position: absolute;
    top: var(--top);
    left: var(--left);
    width: 10cm;
    height: 10cm;
    filter: blur(1px) contrast(110%);
    background: url('https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/user-data/production/6ea5d061-1dff-454e-83a7-7b83d4546ed4/uploads/images/5d4334616f20bd1d1f059f6007892650.png') no-repeat center;
    background-size: contain;
}

.smudge:before {
    position: absolute;
    content:'';
    left: 0;
    top: 0;
    width: 10cm;
    height: 10cm;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(255,255,255,0) 52%);
    background-blend-mode: lighten
}