.page:after, 
.page:has(.frontCover):after, 
.page:has(.insideCover):after, 
.page:nth-child(even)::after {
    all: unset;
    content: 'Playtest material—rules and content may change. — Playtest material—rules and content may change. — Playtest material—rules and content may change.';
    transform-origin: top right;
    transform: rotate(270deg);
    white-space: nowrap;
    position: absolute;
    right: 1.5cm;
    top: 0px;
    color: gray;
    font-family: "Oswald", sans-serif;
    /* Bold, Classified Look */
    text-transform: uppercase;
    width: 29cm;
}
.page:before {
    all: unset;
    content: 'Playtest material—rules and content may change. — Playtest material—rules and content may change. — Playtest material—rules and content may change.';
    transform-origin: top left;
    transform: rotate(90deg);
    white-space: nowrap;
    position: absolute;
    left: 1.5cm;
    top: 0px;
    color: gray;
    font-family: "Oswald", sans-serif;
    /* Bold, Classified Look */
    text-transform: uppercase;
    width: 29cm;
}